# macOS
.DS_Store

# SLURM / cluster logs
slurm.*.out
slurm.*.err
logs/
*.log

# Large MD trajectory and binary files
*.xtc
*.trr
*.tpr
*.edr
*.cpt
*.gro

# GROMACS outputs
*.xvg
*.xpm
*.ndx

# Large/untracked result folders
results/
raw_data/
full_trajectories/

# R session files
.Rhistory
.RData
.Rproj.user/
